@include('../../templates/breadcrumbs.html')
<section class="contacts">
    <div class="container">
        <h1 class="contacts__title h1">
            Контактная информация
        </h1>
    </div>
    <div class="contacts__map js-contacts-map" coords="59.914281, 30.396285">
        <div id="map1" class="map"></div>
        <div class="contacts__content-wrapper">
            <div class="container">
                <div class="contacts__content">
                    <div class="contacts__location elem-icon">
                        <img loading="lazy" src="img/icons/location.svg" class="image" width="" height="" alt="">
                        <span>192019, г. Санкт-Петербург, ул Профессора Качалова, д.7А</span>
                    </div>
                    <div class="contacts__email elem-icon">
                        <img loading="lazy" src="img/icons/icon-mail.svg" class="image" width="" height="" alt="">
                        <a href="mailto:dg@am-sted.ru">dg@am-sted.ru</a>
                    </div>
                    <div class="contacts__tel elem-icon">
                        <img loading="lazy" src="img/icons/icon-tel.svg" class="image" width="" height="" alt="">
                        <div class="elem-icon__wrapper">
                            <a href="tel:+7 (812) 922-11-96">+7 (812) 922-11-96</a>
                            <span>(Отдел продаж)</span>
                        </div>
                    </div>
                    <div class="contacts__tel elem-icon">
                        <img loading="lazy" src="img/icons/icon-tel.svg" class="image" width="" height="" alt="">
                        <div class="elem-icon__wrapper">
                            <a href="tel:+7 921 092-65-54">+7 921 092-65-54</a>
                            <span>(Сервисный отдел)</span>
                        </div>
                    </div>
                    <div class="contacts__buttons">
                        <button data-graph-path="modal-call" class="btn-reset button3 contacts__button">Связаться с нами</button>
                        <a href="" download="" class="button1 contacts__button-connect">Реквизиты</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>