<button class="btn-reset " data-graph-path="modal-calculate-cost">Рассчитать стоимость</button>
<button class="btn-reset " data-graph-path="modal-call">Заказать звонок</button>
<button class="btn-reset " data-graph-path="modal-search">Поиск</button>
<button class="btn-reset " data-graph-path="modal-vacancy">Отклик на вакансию</button>
<button class="btn-reset " data-graph-path="modal-request-cost">Запросить стоимость</button>

<div class="intro">
    <div class="swiper swiper-style intro-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="intro-item" style="background-image: url(img/backgr/intro-backgr.jpg);">
                    <div class="container intro-item__container">
                        <div class="intro-item__content">
                            <div class="intro-item__subtitle">Ленточнопильное оборудование</div>
                            <div class="intro-item__title main-h1">BS-460DSAE</div>
                            <div class="intro-item__text">
                                <p>Полуавтоматический ленточнопильный станок маятникового типа с поворотом пильной рамы
                                    в две стороны. Рассчитан на пиление металлических заготовок больших диаметров
                                    до 460 мм
                                </p>
                            </div>
                            <a href="" class="button2 intro-item__button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="intro-item" style="background-image: url(img/backgr/intro-backgr.jpg);">
                    <div class="container intro-item__container">
                        <div class="intro-item__content">
                            <div class="intro-item__subtitle">Ленточнопильное оборудование</div>
                            <div class="intro-item__title main-h1">BS-460DSAE</div>
                            <div class="intro-item__text">
                                <p>Полуавтоматический ленточнопильный станок маятникового типа с поворотом пильной рамы
                                    в две стороны. Рассчитан на пиление металлических заготовок больших диаметров
                                    до 460 мм
                                </p>
                            </div>
                            <a href="" class="button2 intro-item__button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev intro-swiper__swiper-button-prev"></div>
        <div class="swiper-button-next intro-swiper__swiper-button-next"></div>
        <div class="swiper-pagination intro-swiper__swiper-pagination"></div>
    </div>
</div>

<section class="equipment swiper-style2">
    <div class="container equipment__container">
        <div class="equipment__info">
            <h2 class="equipment__title h2">Листо-обрабатывающее оборудование</h2>
            <div class="swiper-buttons">
                <div class="swiper-button-prev equipment-swiper__swiper-button-prev-1"></div>
                <div class="swiper-button-next equipment-swiper__swiper-button-next-1"></div>
            </div>
        </div>
        <div class="swiper equipment-swiper equipment-swiper-1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Гильотинные ножницы</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Гильотинные ножницы</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment3.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Листогибочные прессы с ЧПУ</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Гильотинные ножницы</div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination equipment-swiper__swiper-pagination-1"></div>
        </div>
    </div>
</section>

<section class="equipment swiper-style2">
    <div class="container equipment__container">
        <div class="equipment__info">
            <h2 class="equipment__title h2">Металлорежущее оборудование</h2>
            <div class="swiper-buttons">
                <div class="swiper-button-prev equipment-swiper__swiper-button-prev-2"></div>
                <div class="swiper-button-next equipment-swiper__swiper-button-next-2"></div>
            </div>
        </div>
        <div class="swiper equipment-swiper equipment-swiper-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment4.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Ленточнопильные станки</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment5.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Дисковые отрезные станки</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment6.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Листогибочные прессы с ЧПУ</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Фрезерное оборудование</div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination equipment-swiper__swiper-pagination-2"></div>
        </div>
    </div>
</section>

<section class="equipment swiper-style2">
    <div class="container equipment__container">
        <div class="equipment__info">
            <h2 class="equipment__title h2">Обработка труб и профиля</h2>
            <div class="swiper-buttons">
                <div class="swiper-button-prev equipment-swiper__swiper-button-prev-3"></div>
                <div class="swiper-button-next equipment-swiper__swiper-button-next-3"></div>
            </div>
        </div>
        <div class="swiper equipment-swiper equipment-swiper-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment7.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Трубогибочные станки с дорном</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment8.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Валковые профилегибы</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment9.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Фрезерное оборудование</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Фрезерное оборудование</div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination equipment-swiper__swiper-pagination-3"></div>
        </div>
    </div>
</section>

<section class="equipment swiper-style2">
    <div class="container equipment__container">
        <div class="equipment__info">
            <h2 class="equipment__title h2">Инструмент и оснастка</h2>
            <div class="swiper-buttons">
                <div class="swiper-button-prev equipment-swiper__swiper-button-prev-4"></div>
                <div class="swiper-button-next equipment-swiper__swiper-button-next-4"></div>
            </div>
        </div>
        <div class="swiper equipment-swiper equipment-swiper-4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment10.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Пильные диски</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment11.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Аксессуары и комплектующие</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment12.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Приводные блоки</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="equipment-item">
                        <div class="equipment-item__image">
                            <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height=""
                                alt="">
                        </div>
                        <div class="equipment-item__name">Фрезерное оборудование</div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination equipment-swiper__swiper-pagination-4"></div>
        </div>
    </div>
</section>

<section class="brands" style="background-image: url(img/backgr/brands-backgr.jpg);">
    <div class="container">
        <h2 class="brands__title h2">Бренды оборудования</h2>
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper brands-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand1.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand3.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand4.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand5.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev brands-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next brands-swiper__swiper-button-next"></div>
            <div class="swiper-pagination brands-swiper__swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="block-news">
    <div class="container">
        <div class="block-news__top">
            <h2 class="block-news__title h2">АМСТЕД сегодня</h2>
            <a href="" class="button1 block-news__link">Все новости</a>
        </div>
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper news-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news1.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news3.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev news-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next news-swiper__swiper-button-next"></div>
            <div class="swiper-pagination news-swiper__swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="block-about">
    <div class="container">
        <div class="block-about__container">
            <div class="block-about__image">
                <img loading="lazy" src="img/images/image1.jpg" class="image" width="" height="" alt="">
            </div>
            <div class="block-about__content">
                <h2 class="block-about__title h2">Amsted — развивающаяся компания-поставщик промышленного оборудования
                    по всей России</h2>
                <div class="block-about__text content-text">
                    <p>Промышленное металлообрабатывающее оборудование может быть многофункциональным, с возможностью
                        выполнения нескольких функций, или узкоспециализированным и имеет четкую классификацию с учетом
                        типа
                        выполняемого станком функционала.</p>
                    <p>Ассортимент для выполнения заготовительных работ на сайте представлен гильотинными ножницами,
                        предназначенными для резки крупных металлических листов, установками лазерной и плазменной резки
                        для
                        термического раскроя, ленточнопильным оборудованием для обработки различных заготовок (труб,
                        профилей, двутавровых балок).</p>
                </div>
                <a href="" class="button3 block-about__link">Подробнее</a>
            </div>
        </div>
    </div>
</section>