<section class="error inverse" style="background-image: url(img/backgr/error-backgr.jpg);">
    @include('../../templates/breadcrumbs.html')
    <div class="container">
        <div class="error__content">
            <h1 class="error__title post-title">404 — Страница не найдена</h1>
            <div class="error__text">
                <p>Таких страниц на сайте нет — у вас неверная ссылка.</p>
                <p>Если вы вводили адрес вручную в адресной строке браузера, проверьте, всё ли вы написали правильно.</p>
            </div>
            <a href="" class="button2 error__link">Главная страница</a>
        </div>
    </div>
</section>