.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $dark;

    .nav {
        &__list {
            width: fit-content;
            column-gap: 30px;
        }

        &__link {
            color: $greenBackgr;
        }
    }

    &-top {
        @include flexCBetween;
        column-gap: 30px;
        padding-bottom: 30px;

        &__button {
            color: $white;
        }
    }

    &-center {
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        @include flexCBetween;

        &__info {
            @include flexCBetween;
            width: fit-content;
            column-gap: 50px;
        }

        &__location {
            color: $white;
        }

        &__email a,
        &__tel a {
            color: $white;
        }

        &__socials {
            @include flexCenter;
            column-gap: 10px;

            &-item {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                border: 1px solid rgb(214, 209, 190, 0.1);
                border-radius: 50%;
                @include flexCCenter;

                &:hover {
                    border: 1px solid $orange;
                    background-color: $orange;

                    .footer-center__socials-icon {
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }

            &-icon {
                width: 16px;
                height: 16px;
                opacity: 1;

                svg {
                    path {
                        fill: $orange;
                    }
                }
            }
        }
    }

    &-bottom {
        padding-top: 30px;

        &__links {
            @include flexCBetween;
            margin-bottom: 30px;

            a,
            span {
                color: white;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                opacity: 0.5;
                @include transition(color);
            }

            a {
                text-decoration: underline;

                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }

        &__copy {
            color: white;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            opacity: 0.5;
            max-width: 700px;
        }
    }
}