<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img loading="lazy" src="img/logo/logo.png" class="image" width="" height="" alt="">
    </a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <div class="header__content" data-menu>
      <div class="header-top">
        <div class="header-top__email elem-icon">
          <img loading="lazy" src="img/icons/icon-mail.svg" class="image" width="" height="" alt="">
          <a href="mailto:dg@am-sted.ru">dg@am-sted.ru</a>
        </div>
        <div class="header-top__tel elem-icon">
          <img loading="lazy" src="img/icons/icon-tel.svg" class="image" width="" height="" alt="">
          <a href="tel:+7 (812) 922-11-96">+7 (812) 922-11-96</a>
        </div>
        <button data-graph-path="modal-search" class="btn-reset header-top__search"></button>
        <button data-graph-path="modal-call" class="button1 btn-reset header-top__button">Заказать звонок </button>
      </div>
      <div class="header-bottom">
        <nav class="nav" title="">
          <ul class="header-bottom__list list-reset nav__list hover">
            <li class="nav__item menu-item-has-children">
              <a href="#" class="nav__link">Оборудование</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="/products/tolstovki/">Листо-обрабатывающее оборудование</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="">Гильотинные ножницы</a></li>
                    <li class="menu-item"><a href="">Лазерная резка</a></li>
                    <li class="menu-item"><a href="">Листогибочные прессы с ЧПУ</a></li>
                    <li class="menu-item"><a href="">Вальцы гидравлические 4х валковые</a></li>
                    <li class="menu-item"><a href="">Вальцы электрические 4х валковые</a></li>
                    <li class="menu-item"><a href="">Вальцы гидравлические
                        3х валковые</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="/products/hudi/">Металлорежущее оборудование</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="">Ленточнопильные станки</a></li>
                    <li class="menu-item"><a href="">Дисковые отрезные станки</a></li>
                    <li class="menu-item"><a href="">Фрезерное оборудование</a></li>
                    <li class="menu-item"><a href="">Токарное оборудование</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="/products/futbolki/">Обработка труб и профиля</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="">Трубогибочные станки с дорном</a></li>
                    <li class="menu-item"><a href="">Валковые профилегибы</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="/products/hudi/">Инструмент и оснастка</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="">Пильные диски</a></li>
                    <li class="menu-item"><a href="">Аксессуары и комплектующие</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Сервисные услуги</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Медиа</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>