@include('../../templates/breadcrumbs.html')
<section class="services-single">
    <div class="container">
        <h1 class="services-single__title h1">Плазменная резка металла</h1>
        <div class="services-single__content content-text">
            <p>Термический вид обработки металла, где в качестве инструмента (резца) используется струя плазмы.
                Существует несколько способов плазменной обработки поверхностей: прямое действие, косвенное действие и
                комбинированная обработка. Все способы плазменной резки характеризуются высокой производительностью и
                универсальностью. Можно раскроить любой материал на заготовки различной геометрической формы. Кроме
                того, не имеет значения качество подготовки обрабатываемого материала (ржавчина, остатки краски или
                грязи). Вырезаемые поверхности практически не подвергаются деформации благодаря небольшой зоне
                термического воздействия. Это практически безопасный процесс.</p>
        </div>
        <div class="images-swiper__wrapper swiper-style5">
            <div class="swiper-button-prev images-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next images-swiper__swiper-button-next"></div>
            <div class="swiper-pagination images-swiper__swiper-pagination"></div>
            <div class="swiper images-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="images-image">
                            <img loading="lazy" src="img/images/image4.jpg" class="image" width="" height="" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="images-image">
                            <img loading="lazy" src="img/images/image4.jpg" class="image" width="" height="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-single__content content-text">
            <h4>Цена услуг плазменной резки металла</h4>
            <p>Плазменная резка обеспечивает продукции высокую точность и качество. На нашем предприятии цена услуг
                плазменной резки металла вполне доступна, и мы предлагаем всем желающим воспользоваться уникальными
                возможностями нашего оборудования.</p>
            <p>Мы производим такие операции на самых современных станках. Производительность нашего оборудования высока,
                а
                стоимость выполняемой работы минимальна. Наше оборудование и квалифицированный труд специалистов
                обеспечат
                точный и качественный раскрой изделий любых форм и из любых материалов. Применяя такой вид
                металлообработки,
                мы значительно сокращаем издержки предприятия, а это позволяет нам не завышать цены на различные виды
                услуг.
                Свяжитесь с нашими менеджерами, и они познакомят вас с расценками на различные виды металлообработки.
            </p>
            <h6>Предлагаем:</h6>
            <ul>
                <li>Только качественную и точную плазменную резку металла;</li>
                <li>Изготовление изделий различной геометрической формы;</li>
                <li>Все услуги плазменной резки металла по низким ценам;</li>
                <li>В результате резки получить не деформированный металл и не азотированные срезанные края.</li>
            </ul>
            <p>На всех видах оборудования у нас работают только высококвалифицированные специалисты. Мы дорожим
                репутацией завода и не стремимся к моментальной выгоде. У нас всегда привлекательные цены на наши
                услуги. Кроме термической обработки у нас можно заказать фрезерные и <a href="">токарные работы</a>.</p>
        </div>
    </div>
</section>

<section class="cost-calc">
    <div class="container cost-calc__container">
        <div class="cost-calc__content">
            <div class="cost-calc__name">Отправьте запрос на расчет стоимости
                и получите индивидуальное предложение</div>
            <div class="cost-calc__text">
                <p>Наши специалисты отверят на все вопросы </p>
            </div>
        </div>
        <div class="cost-calc__info">
            <button data-graph-path="modal-calculate-cost" class="btn-reset button3 cost-calc__button">Рассчитать стоимость</button>
            <div class="cost-calc__bottom">
                <div class="cost-calc__tel elem-icon">
                    <img loading="lazy" src="img/icons/icon-tel.svg" class="image" width="" height="" alt="">
                    <a href="tel:+7 (812) 922-11-96">+7 (812) 922-11-96</a>
                </div>
                <div class="cost-calc__email elem-icon">
                    <img loading="lazy" src="img/icons/icon-mail.svg" class="image" width="" height="" alt="">
                    <a href="mailto:dg@am-sted.ru">dg@am-sted.ru</a>
                </div>

            </div>
        </div>
    </div>
</section>