.search-error {
    margin-top: 64px;
    color: $dark;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
    max-width: 540px;

    a {
        color: $dark;
        font-weight: 700;
    }
}