@include('../../templates/breadcrumbs.html')
<section class="catalog">
    <div class="container">
        <h1 class="catalog__title h1">Каталог оборудования</h1>

    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__name">Листо-обрабатывающее оборудование</div>
            <div class="catalog-item__cards">
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog-item__card-name">Гильотинные ножницы</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog-item__card-name">Лазерная резка</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment3.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog-item__card-name">Листогибочные прессы с ЧПУ</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment13.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Вальцы гидравлические
                        4х валковые</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment14.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Вальцы электрические
                        4х валковые</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment15.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Вальцы гидравлические
                        3х валковые</div>
                </a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__name">Металлорежущее оборудование</div>
            <div class="catalog-item__cards">
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment18.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Ленточнопильные станки</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment17.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Дисковые отрезные станки</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment6.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog-item__card-name">Фрезерное оборудование</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment16.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Токарное оборудование</div>
                </a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__name">Обработка труб и профиля</div>
            <div class="catalog-item__cards">
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment7.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog-item__card-name">Трубогибочные станки с дорном</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment8.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="catalog-item__card-name">Валковые профилегибы</div>
                </a>
            </div>
        </div>
    </div>
    <div class="catalog-item">
        <div class="container">
            <div class="catalog-item__name">Инструмент и оснастка</div>
            <div class="catalog-item__cards">
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment10.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Пильные диски</div>
                </a>
                <a href="" class="catalog-item__card">
                    <div class="catalog-item__card-image">
                        <img loading="lazy" src="img/equipments/equipment11.png" class="image" width="" height=""
                            alt="">
                    </div>
                    <div class="catalog-item__card-name">Аксессуары и комплектующие</div>
                </a>
            </div>
        </div>
    </div>
    <div class="info-more catalog__info-more">
        <div class="container">
            <div class="info-more__text content-text js-info-more-text">
                <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                    условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                    нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                    оборудования
                    в любой комплектации, запасных частей и расходных материалов к нему.</p>
                <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                    условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                    нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                    оборудования
                    в любой комплектации, запасных частей и расходных материалов к нему.</p>
                <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                    условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                    нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                    оборудования
                    в любой комплектации, запасных частей и расходных материалов к нему.</p>
                <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                    условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                    нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                    оборудования
                    в любой комплектации, запасных частей и расходных материалов к нему.</p>
            </div>
            <button class="btn-reset button-more info-more__button js-info-more-button">Подробнее</button>
        </div>
    </div>
</section>