@include('../../templates/breadcrumbs.html')
<section class="news">
    <div class="container">
        <h1 class="news__title h1">Медиа</h1>
        <div class="news__items">
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news1.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news3.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news1.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news3.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news1.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <a href="" class="news-item">
                <div class="news-item__image">
                    <img loading="lazy" src="img/news/news3.jpg" class="image" width="" height="" alt="">
                </div>
                <div class="news-item__content">
                    <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                    <div class="news-item__text content-text">
                        <p>Представители ООО «АМСТЕД»
                            приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                            Ленинградской области
                        </p>
                    </div>
                    <div class="news-item__date">11 июля 2024</div>
                </div>
            </a>
            <div class="pagination news__pagination">
                <div class="pagination__arrow pagination__arrow-prev"></div>
                <div class="pagination__item">1</div>
                <div class="pagination__item">2</div>
                <div class="pagination__item">3</div>
                <div class="pagination__item">4</div>
                <div class="pagination__item">5</div>
                <div class="pagination__item active">6</div>
                <div class="pagination__item">7</div>
                <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
        </div>
    </div>
</section>