@include('../../templates/breadcrumbs.html')
<section class="catalog-subcategory-intro">
    <div class="container">
        <h1 class="catalog-subcategory-intro__title">Автоматические ленточнопильные станки</h1>
    </div>
</section>

<section class="brands catalog-brands">
    <div class="container">
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper brands-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand1.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand3.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand4.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand5.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev brands-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next brands-swiper__swiper-button-next"></div>
            <div class="swiper-pagination brands-swiper__swiper-pagination"></div>
        </div>
    </div>
</section>

<div class="catalog-subcat">
    <div class="container">
        <div class="catalog-subcat__cards">
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment13.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment3.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment13.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment3.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment13.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment3.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment13.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment3.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                            <li>Размер заготовки: 300х140</li>
                            <li>Мощность: 2,3 КВт</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-subcat__card">
                <div class="catalog-subcat__card-image">
                    <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height="" alt="">
                </div>
                <div class="catalog-subcat__card-content">
                    <div class="catalog-subcat__card-name">Станок ленточнопильный автоматический PAR 280 CUTERAL</div>
                    <div class="catalog-subcat__card-text">
                        <ul>
                            <li>Ø пиления: 280</li>
                        </ul>
                    </div>
                </div>
            </a>
            <div class="pagination catalog-subcat__pagination">
                <div class="pagination__arrow pagination__arrow-prev"></div>
                <div class="pagination__item">1</div>
                <div class="pagination__item">2</div>
                <div class="pagination__item">3</div>
                <div class="pagination__item">4</div>
                <div class="pagination__item">5</div>
                <div class="pagination__item active">6</div>
                <div class="pagination__item">7</div>
                <div class="pagination__arrow pagination__arrow-next"></div>
            </div>
        </div>
    </div>
</div>

<div class="info-more catalog__info-more">
    <div class="container">
        <div class="info-more__text content-text js-info-more-text">
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
        </div>
        <button class="btn-reset button-more info-more__button js-info-more-button">Подробнее</button>
    </div>
</div>