@include('../../templates/breadcrumbs.html')
<section class="news-single">
    <div class="container">
        <a href="/news/" class="link-head news-single__link-head">
            <div class="link-head__icon">
                <img loading="lazy" src="img/arrows/link-head.svg" class="image" width="" height="" alt="">
            </div>
            <div class="link-head__name">Все новости</div>
        </a>
        <div class="news-single__date post-date">11 июля 2024</div>
        <h1 class="news-single__title post-title">Приняли участие в карьерных мероприятиях</h1>
        <div class="news-single__content content-text">
            <p>Представители НПАО «Светогорский ЦБК» в середине весны приняли участие в карьерных мероприятиях,
                проходивших в Санкт-Петербурге и Ленинградской области, где на выставках и ярмарках вакансий
                рассказывали о компании, продукции, производимой на комбинате в Светогорске, карьерных возможностях
                и перспективах работы для молодёжи. В общей сложности с компанией познакомились более 1 000 человек.</p>
            <img src="img/images/image2.jpg" alt="">
            <p>В Санкт-Петербурге и Ленинградской области в апреле 2023 года прошло множество мероприятий, посвящённых
                профориентации и развитию карьеры. Для НПАО «Светогорский ЦБК» стартом карьерных событий послужила V
                Юбилейная Межвузовская инновационная неделя «ИННОЭВЕНТ − ЛТУ 2023», которая проходила с 3 по 7 апреля
                в Санкт-Петербургском государственном лесотехническом университете им. С.М. Кирова при участии студентов
                из разных высших учебных заведений. Компания заинтересована в сотрудничестве с будущими профессионалами
                лесопромышленного дела. Представители НПАО «Светогорский ЦБК» познакомили студентов с компанией,
                принципами
                устойчивого развития, лежащими в основе её деятельности, и эволюцией производственного совершенства
                в целлюлозно-бумажной промышленности.</p>
            <p>14 апреля компания приняла участие в ярмарке вакансий в Выборгском центре поддержки предпринимательства
                в рамках Единого дня трудоустройства в Ленинградской области. В это же время представители компании
                посетили
                закрытие инновационной недели в СанктПетербургском государственном университете промышленных технологий
                и дизайна, где рассказали о возможностях прохождения практики и стажировок, а также программе «ВЗЛЁТ»,
                нацеленной на привлечение и удержание молодых специалистов.</p>

            <p>Кроме того, представители НПАО «Светогорский ЦБК» посетили Северный (Арктический) федеральный университет
                имени М.В. Ломоносова (САФУ) в Архангельске и Петрозаводский государственный университет (ПетрГУ)
                в Петрозаводске, а также дни открытых дверей в Российской Академии народного хозяйства и государственной
                службы (РАНХиГС) в Санкт-Петербурге и в политехническом колледже «Александровский» в Выборге,
                где ответили
                на вопросы студентов о преимуществах работы на предприятии и рассказали о программе привлечения
                и подготовки
                новых сотрудников разных производственных специальностей «Мой старт».</p>
            <div class="images-slider swiper-style4">
                <div class="swiper images-gallery-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image1.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image2.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image3.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image1.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image2.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image3.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev images-gallery__swiper-button-prev"></div>
                    <div class="swiper-button-next images-gallery__swiper-button-next"></div>
                </div>
                <div class="swiper images-gallery-swiper-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image1.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image2.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image3.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image1.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image2.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide images-gallery__slide">
                            <div class="images-gallery__image">
                                <img loading="lazy" src="img/images/image3.jpg" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev images-gallery-thumbs__swiper-button-prev"></div>
                    <div class="swiper-button-next images-gallery-thumbs__swiper-button-next"></div>
                </div>
            </div>
            <p>Между выездными карьерными мероприятиями в апреле и мае специалисты компании проводили познавательные
                экскурсии на комбинат в Светогорске для студентов из Лесотехнического университета, Выборгской гимназии,
                Выборгского техникума агропромышленного и лесного комплекса, Светогорского политехнического колледжа.
                Традиционные экскурсионные программы для студентов и школьников на комбинат проводятся для того,
                чтобы познакомить будущих работников лесопромышленного комплекса с жизнью комбината, реальными
                производственными процессами, осветить вопросы безопасности и ответственного похода к работе и решению
                производственных задач.</p>
            <img src="img/images/image3.jpg" alt="">
            <p>НПАО «Светогорский ЦБК» уделяет большое внимание развитию кадрового потенциала и профессионалов будущего.
                В основе деятельности компании лежит глубокое уважение к каждому сотруднику и ценность индивидуального
                вклада в достижение общих целей. Компания активно привлекает и обучает студентов-выпускников, которые
                сразу
                после окончания высшего или среднего учебного заведения могут применить полученные знания и навыки
                в своей
                работе. Сегодня уже более 430 молодых специалистов в возрасте от 18 до 35 лет работает на предприятии,
                получая ценный опыт и профессиональное развитие.</p>
            <p>«В этом году нашему комбинату в Светогорске исполняется 136 лет. За это время в компании происходили
                разные
                изменения. Например, более 20 лет наша компания была частью международной корпорации, но в 2022 году
                начался
                новый этап развития с новым названием НПАО „Светогорский ЦБК“; мы уже создали фирменный стиль, а сейчас
                работаем над созданием нового бренда работодателя. Мы бережём славные традиции и богатый опыт, который
                помогает принимать мудрые решения и служит прочным фундаментом для развития новых возможностей
                и инноваций.
                В поисках новых талантов для трудоустройства в нашу компанию мы с удовольствием делимся опытом
                с молодёжью.
                Мы продолжим принимать участие в карьерных мероприятиях для повышения узнаваемости нашей компании
                на рынке
                труда», - сказала директор по персоналу НПАО «Светогорский ЦБК» Анна Дорогостайская.</p>
        </div>
    </div>
</section>

<section class="block-news news-other">
    <div class="container">
        <div class="block-news__top">
            <h2 class="block-news__title h2">АМСТЕД сегодня</h2>
            <a href="" class="button1 block-news__link">Все новости</a>
        </div>
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper news-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news1.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news3.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev news-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next news-swiper__swiper-button-next"></div>
            <div class="swiper-pagination news-swiper__swiper-pagination"></div>
        </div>
    </div>
</section>