.news {
    padding-top: 24px;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 40px;
    }

    &__items {
        @include gridColumn(3);
        gap: 30px;
    }

    &__pagination {
        grid-column: 1/4;
    }
}