.news {
    padding-top: 24px;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 40px;
    }

    &__items {
        @include gridColumn(3);
        gap: 30px;
    }

    &__pagination {
        grid-column: 1/4;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .news__items {
        gap: 20px;
    }

    .news__pagination {
        margin-top: 4px;
    }
}

@media screen and (max-width: $mob) {
    .news {
        padding-top: 16px;
        padding-bottom: 40px;
    }

    .news__title {
        margin-bottom: 16px;
    }

    .news__items {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .news__pagination {
        grid-column: 1/2;
        margin-top: 0;
    }
}