@include('../../templates/breadcrumbs.html')
<section class="catalog-category-intro">
    <div class="container">
        <h1 class="catalog-category-intro__title h1">Ленточнопильные станки</h1>
    </div>
</section>

<section class="brands catalog-brands">
    <div class="container">
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper brands-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand1.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand3.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand4.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand5.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev brands-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next brands-swiper__swiper-button-next"></div>
            <div class="swiper-pagination brands-swiper__swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="catalog-category">
    <div class="container">
        <div class="catalog-category-swiper__wrpapper swiper-style3">
            <div class="swiper-button-prev catalog-category-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next catalog-category-swiper__swiper-button-next"></div>
            <div class="swiper-pagination catalog-category-swiper__swiper-pagination"></div>
            <div class="swiper catalog-category-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="catalog-item__card">
                            <div class="catalog-item__card-image">
                                <img loading="lazy" src="img/equipments/equipment1.png" class="image" width="" height=""
                                    alt="">
                            </div>
                            <div class="catalog-item__card-name">Валковые профилегибы</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="catalog-item__card">
                            <div class="catalog-item__card-image">
                                <img loading="lazy" src="img/equipments/equipment2.png" class="image" width="" height=""
                                    alt="">
                            </div>
                            <div class="catalog-item__card-name">Полуавтоматические ленточнопильные станки</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="catalog-item__card">
                            <div class="catalog-item__card-image">
                                <img loading="lazy" src="img/equipments/equipment20.png" class="image" width=""
                                    height="" alt="">
                            </div>
                            <div class="catalog-item__card-name">Автоматические ленточнопильные станки</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="catalog-item__card">
                            <div class="catalog-item__card-image">
                                <img loading="lazy" src="img/equipments/equipment19.png" class="image" width=""
                                    height="" alt="">
                            </div>
                            <div class="catalog-item__card-name">Вертикальные ленточнопильные станки</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="catalog-item__card">
                            <div class="catalog-item__card-image">
                                <img loading="lazy" src="img/equipments/equipment20.png" class="image" width=""
                                    height="" alt="">
                            </div>
                            <div class="catalog-item__card-name">Автоматические ленточнопильные станки</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="info-more catalog__info-more">
    <div class="container">
        <div class="info-more__text content-text js-info-more-text">
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
            <p>Продукция ООО «АМСТЕД» является полностью адаптированной для применения в нашей стране и конкретно в
                условиях каждого заказчика. Еще одной причиной того, почему лучше купить горное оборудование именно
                нашего производства заключается в том, что мы обеспечиваем максимально оперативную поставку
                оборудования
                в любой комплектации, запасных частей и расходных материалов к нему.</p>
        </div>
        <button class="btn-reset button-more info-more__button js-info-more-button">Подробнее</button>
    </div>
</div>