.intro {
    &-item {
        @include bg-cover;
        height: 600px;
        flex-shrink: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(37, 36, 34, 0.50);
        }

        &__container {
            padding-top: 100px;
        }

        &__content {
            position: relative;
            z-index: 1;
            max-width: 715px;
        }

        &__subtitle {
            color: $dark;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.24px;
            text-transform: uppercase;
            background-color: $greenBackgr;
            clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
            padding: 5px 20px;
            width: fit-content;
            margin-bottom: 20px;
        }

        &__title {
            color: $white;
            margin-bottom: 10px;
        }

        &__text {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -0.4px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {
    .intro-item {
        height: 480px;
    }

    .intro-item__container {
        padding-top: 50px;
    }

    .intro-item__subtitle {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.2px;
    }

    .intro-item__text {
        font-size: 15px;
        line-height: 20px;
    }
}

.equipment {
    padding-top: 100px;
    padding-bottom: 100px;

    &__container {
        @include flexCBetween;
        column-gap: 20px;
    }

    &__info {
        max-width: 370px;
        width: 100%;
    }

    &__title {
        margin-bottom: 25px;
    }

    .equipment-swiper {
        width: 100%;
        max-width: 800px;
    }

    .swiper-slide {
        height: auto;
    }

    &-item {
        border-radius: 8px;
        border: 1px solid $greyBorder;
        background-color: $white;
        padding-top: 25px;
        @include flexColumn;
        @include transition(border);
        height: 100%;
        min-height: 300px;

        &__image {
            width: 100%;
            height: 175px;
            flex-shrink: 0;
            @include flexCCenter;
        }

        &__name {
            padding: 0 25px 25px 25px;
            text-align: center;
            color: $dark;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            @include transition(color);
        }

        &:hover {
            border: 1px solid $orange;

            .equipment-item__name {
                color: $orange;
            }
        }
    }

    &:nth-child(odd) {
        background-color: $orangeLight;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .equipment__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .equipment__info {
        max-width: 100%;
    }

    .equipment .swiper-buttons {
        display: none;
    }

    .equipment .equipment-swiper {
        max-width: 100%;
    }
}

@media screen and (max-width: $mob) {
    .equipment {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .equipment__title {
        margin-bottom: 16px;
    }

    .equipment-item {
        min-height: 270px;
    }

    .equipment-item__name {
        font-size: 18px;
        line-height: 26px;
    }
}

.brands {
    padding-top: 100px;
    padding-bottom: 132px;
    @include bg-cover;

    &__title {
        color: $white;
        margin-bottom: 25px;
    }

    &-item {
        border-radius: 8px;
        background-color: $white;
        width: 100%;
        height: 140px;
        flex-shrink: 0;
        @include flexCCenter;

        &__image {
            width: 170px;
            height: 68px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .brands-item {
        height: 120px;
    }
}

@media screen and (max-width: $mob) {
    .brands {
        padding-top: 40px;
        padding-bottom: 72px;
    }

    .brands__title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .brands-item {
        height: 95px;
    }

    .brands-item__image {
        width: 128px;
        height: 50px;
    }
}

.block-news {
    padding-top: 100px;
    padding-bottom: 130px;

    &__top {
        @include flexFsBetween;
    }

    &__title {
        margin-bottom: 25px;
    }

    .swiper-slide {
        height: auto;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {
    .block-news {
        padding-top: 40px;
        padding-bottom: 72px;
    }

    .block-news__top {
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 16px;
    }

    .block-news__title {
        margin-bottom: 0;
    }

    .block-news__link {
        width: 100%;
    }
}

.news {
    &-item {
        border-radius: 8px;
        overflow: hidden;
        @include flexColumn;
        align-items: flex-start;
        height: 100%;
        background: rgba(235, 235, 235, 0.20);

        &:hover {
            .news-item__name {
                color: $orange;
            }

            .news-item__content {
                border-right: 1px solid $greyBorder;
                border-bottom: 1px solid $greyBorder;
                border-left: 1px solid $greyBorder;
                background: $white;
            }
        }

        &__image {
            width: 100%;
            height: 250px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__content {
            padding: 30px;
            height: 100%;
            @include flexColumn;
            align-items: flex-start;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-left: 1px solid transparent;
        }

        &__name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 15px;
        }

        &__text {
            margin-bottom: 25px;
        }

        &__date {
            color: $dark;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.24px;
            margin-top: auto;
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .news-item__image {
        height: 200px;
    }

    .news-item__content {
        padding: 20px;
    }
}

@media screen and (max-width: $mob) {
    .news-item__image {
        height: 190px;
    }
}

.block-about {
    padding-bottom: 100px;

    &__container {
        display: grid;
        grid-template-columns: 5fr 7fr;
        column-gap: 30px;
        padding-top: 100px;
        border-top: 1px solid $greyHeader;
    }

    &__image {
        width: 100%;
        height: 562px;
        border-radius: 8px;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding-left: 30px;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .block-about__image {
        height: 454px;
    }

    .block-about__title {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: $mob) {
    .block-about {
        padding-bottom: 40px;
    }

    .block-about__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
        padding-top: 40px;
    }

    .block-about__image {
        height: 195px;
    }

    .block-about__content {
        padding-left: 0;
    }

    .block-about__title {
        font-size: 18px;
        line-height: 26px;
    }

    .block-about__text {
        margin-bottom: 24px;
    }
}