<section class="success inverse" style="background-image: url(img/backgr/success-backgr.jpg);">
    @include('../../templates/breadcrumbs.html')
    <div class="container">
        <div class="success__content">
            <h1 class="success__title post-title">Запрос отправлен</h1>
            <div class="success__text">
                <p>Наш специалист свяжется с Вами для утонения деталей запроса</p>
            </div>
            <a href="" class="button2 success__link">Главная страница</a>
        </div>
    </div>
</section>