<section class="vacancies-single-preview">
    @include('../../templates/breadcrumbs.html')
    <div class="container">
        <h1 class="vacancies-single-preview__title post-title">
            Слесарь по ремонту и обслуживанию перегрузочных машин
        </h1>
        <div class="vacancies-single-preview__price">от 90 000 ₽</div>
        <div class="vacancies-single-preview__text">
            <p>Требуемый опыт работы: 3–6 лет</p>
            <p>Полная занятость, полный день</p>
        </div>
        <button class="button3 btn-reset vacancies-single-preview__button">Откликнуться</button>
    </div>
</section>

<section class="section-color vacancies-single">
    <div class="container">
        <div class="vacancies-single__content content-text">
            <h4>Обязанности</h4>
            <ul>
                <li>Ремонт и техническое обслуживание перегрузочных машин (ремонт дизельных двигателей внутреннего
                    сгорания,
                    гидравлической системы, трансмиссии, ходовой части, шиномонтаж колёс)</li>
            </ul>
            <h4>Требования</h4>
            <ul>
                <li>Имеете среднее профессиональное образование по специальности «слесарь по ремонту автомобилей»,
                    «слесарь
                    по ремонту перегрузочных машин»</li>
                <li>Имеете навыки технического обслуживания, разборки, замены деталей, сборки</li>
                <li>Умеете читать механические и электрические схемы</li>
                <li>Знаете правила ремонта аппаратуры и агрегатов</li>
            </ul>
            <h4>Условия</h4>
            <ul>
                <li>Официальное трудоустройство, полностью «белый» доход</li>
                <li>Дополнительную систему премирования</li>
                <li>Расширенный социальный пакет − компенсация проезда к месту отдыха, санаторно-курортного лечение</li>
                <li>Дополнительное медицинское страхование</li>
                <li>Оплата дороги к месту работ</li>
            </ul>
        </div>
        <button class="btn-reset button3 vacancies-single__button">Откликнуться</button>
    </div>
</section>