.card-intro {
    padding-top: 24px;
    padding-bottom: 64px;

    &__title {
        max-width: 1000px;
        margin-bottom: 40px;
    }

    &__container {
        @include gridColumn(2);
        column-gap: 30px;
        margin-bottom: 64px;
    }

    &-slider {
        padding-right: 20px;
        overflow: hidden;
    }

    .card-intro-swiper {
        margin-bottom: 15px;

        .swiper-slide {
            border: 1px solid $greyBorder;
        }

        .card-intro__image {
            height: 360px;
            flex-shrink: 0;
            border-radius: 8px;
            background-color: $white;
            @include flexCCenter;
        }
    }

    .card-intro-swiper-thumbs {
        .swiper-slide {
            border: 1px solid $greyBorder;
        }

        .card-intro__image {
            height: 110px;
            flex-shrink: 0;
            border-radius: 8px;
            background-color: $white;
            @include flexCCenter;
        }
    }

    &__text {
        margin-bottom: 16px;
    }

    &__link-descr {
        color: $dark;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        border-bottom: 1px dashed $dark;
        display: inline-block;
        margin-bottom: 40px;
    }

    &__char {
        margin-bottom: 40px;

        &-name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 16px;
        }

        ul {
            color: var(--1C1D1D, #1C1D1D);
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__bottom {
        @include flexCBetween;
    }

    &__email {
        a {
            color: $dark;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
            margin-bottom: 12px;
        }
    }

    &__tel {
        a {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }
    }

    &__text-descr {
        &-name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: $tablet) {
    .card-intro__container {
        column-gap: 20px;
    }

    .card-intro-slider {
        padding-right: 0;
    }

    .card-intro .card-intro-swiper {
        margin-bottom: 10px;
    }

    .card-intro__link-descr {
        margin-bottom: 24px;
    }

    .card-intro__char {
        margin-bottom: 24px;
    }

    .card-intro__bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}

@media screen and (max-width: $mob) {
    .card-intro {
        padding-top: 16px;
        padding-bottom: 40px;
    }

    .card-intro__title {
        margin-bottom: 16px;
    }

    .card-intro__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .card-intro .card-intro-swiper .swiper-slide {
        height: 195px;
        @include flexCCenter;
        width: 100%;
    }

    .card-intro .card-intro-swiper .card-intro__image {
        width: 100%;
        height: 120px;

        img {
            width: auto;
            height: 100%;
        }
    }

    .card-intro .card-intro-swiper-thumbs .swiper-slide {
        height: 60px;
        @include flexCCenter;
    }

    .card-intro .card-intro-swiper-thumbs .card-intro__image {
        width: 100%;
        height: 40px;

        img {
            width: auto;
            height: 100%;
        }
    }

    .card-intro__char-name {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .card-intro__bottom {
        row-gap: 16px;
        align-items: center;
    }

    .card-intro__email a {
        margin-bottom: 0;
    }

    .card-intro__container {
        margin-bottom: 40px;
    }

    .card-intro__bottom-info {
        @include flexColumn;
        align-items: center;
    }

    .card-intro__text-descr-name {
        margin-bottom: 15px;
    }
}

.card-info {
    background-color: $orangeLight;
    padding-top: 64px;
    padding-bottom: 64px;

    &__container {
        @include flexFsBetween;
        column-gap: 100px;
    }

    &__charact {
        max-width: 550px;

        &-name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 24px;
        }

        &-item {
            @include mb(20px);
            @include flexCBetween;
        }

        &-label {
            color: $dark;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    &__content {
        max-width: 470px;
        width: 100%;
    }

    &__video {
        margin-bottom: 40px;

        &-name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 24px;
        }

        &-block {
            width: 370px;
            height: 250px;
            flex-shrink: 0;
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(24, 24, 22, 0.30);
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 70px;
                height: 70px;
                flex-shrink: 0;
                @include bg-cover;
                background-image: url(../img/icons/play.svg);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__file {
        &-name {
            color: $dark;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: $mob) {
    .card-info {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .card-info__charact-name {
        margin-bottom: 16px;
    }

    .card-info__container {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;
    }

    .card-info__charact {
        max-width: 100%;
        width: 100%;
    }

    .card-info__charact-item:not(:last-child) {
        margin-bottom: 12px;
    }

    .card-info__charact-item {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2px;
    }

    .card-info__charact-label {
        font-size: 15px;
        line-height: 20px;
    }

    .card-info__video-name,
    .card-info__file-name {
        margin-bottom: 16px;
    }

    .card-info__content {
        max-width: 100%;
    }

    .card-info__video-block {
        width: 100%;
        height: 195px;
    }

    .card-info__file-doc {
        column-gap: 8px;

        .elem-doc a {
            margin-bottom: 4px;
        }
    }
}

.card-equipment {
    padding-top: 64px;
    padding-bottom: 64px;

    &__name {
        color: $dark;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__list {
        columns: 2;
        page-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        break-inside: avoid-column;
        column-gap: 70px;
    }
}

@media screen and (max-width: $mob) {
    .card-equipment {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .card-equipment__list {
        columns: 1;
    }

    .content-text ul li:not(:last-child) {
        margin-bottom: 8px;
    }
}

.card-other {
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: $orangeLight;

    &__title {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: $mob) {
    .card-other {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}