@include('../../templates/breadcrumbs.html')
<section class="services">
    <div class="container">
        <h1 class="services__title h1">Сервисные услуги</h1>
        <div class="services__items">
            <div class="services__item" style="background-image: url(img/services/service1.jpg);">
                <div class="services__item-content">
                    <div class="services__item-name">Карусельная обработка деталей</div>
                    <a href="" class="button2 services__item-link">Подробнее</a>
                </div>
            </div>
            <div class="services__item" style="background-image: url(img/services/service2.jpg);">
                <div class="services__item-content">
                    <div class="services__item-name">Проектирование нестандартного
                        оборудования и конструкций</div>
                    <a href="" class="button2 services__item-link">Подробнее</a>
                </div>
            </div>
            <div class="services__item" style="background-image: url(img/services/service3.jpg);">
                <div class="services__item-content">
                    <div class="services__item-name">Плазменная резка металла</div>
                    <a href="" class="button2 services__item-link">Подробнее</a>
                </div>
            </div>
            <div class="services__item" style="background-image: url(img/services/service4.jpg);">
                <div class="services__item-content">
                    <div class="services__item-name">Сварочные работы</div>
                    <a href="" class="button2 services__item-link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>