// colors
$white: #ffffff;
$dark: #1C1D1D;
$darkInput: #181818;
$darkNav: #333;
$orange: #C5A463;
$greenBackgr: #D6D1BE;
$greyBorder: #F0EFEB;
$greyNav: #666;
$greyInput: #999;
$greyHeader: #EBEBEB;
$orangeLight: #F7F6F2;
$red: #EE1722;
$borderLine: #E0E0E0;
$greyInputActive: #C8C8C8;



$backgrDark: #232323;

$grey: #B20D35;
$redHover: #8F0A2A;
$greyLine: #D9D9D9;