.button1 {
    color: $dark;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    height: 40px;
    padding: 0 25px;
    border-radius: 5px;
    border: 1px solid $orange;
    background-color: transparent;
    height: 40px;
    @include flexCCenter;
    width: fit-content;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        color: $white;
        background-color: $orange;
    }
}

.button2 {
    color: $white;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    height: 60px;
    padding: 0 50px;
    border-radius: 5px;
    background-color: $orange;
    @include flexCCenter;
    width: fit-content;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        color: $orange;
        background-color: $white;
    }
}

.button3 {
    color: $white;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    height: 60px;
    padding: 0 50px;
    border-radius: 5px;
    background-color: $orange;
    @include flexCCenter;
    width: fit-content;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        color: $white;
        background-color: $dark;
    }
}

.button-more {
    color: $dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-right: 24px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        @include bg-cover;
        background-image: url(../img/icons/btn-more.svg);
    }
}