.section {
    margin-bottom: 100px;
}

.elem-icon {
    @include flexCStart;
    column-gap: 8px;

    img {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
}

@media screen and (max-width: $laptop) {
    .section {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: $tablet) {
    .section {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: $mob) {
    .section {
        margin-bottom: 40px;
    }
}