.form {
    &__label {
        width: 100%;
        display: block;
        @include mb(22px);
    }

    &__input {
        color: $darkInput;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $greyBorder;
        background-color: $white;
        height: 48px;
        padding: 12px 16px;

        &.wpcf7-not-valid {
            border-bottom: 1px solid $red;
        }
    }

    &__btn {
        width: 100%;
    }

    &__description {
        color: $dark;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.24px;
        margin-top: 24px;

        a {
            color: $orange;
        }
    }
}

.modal {
    max-width: 424px;
    padding: 32px;
    border-radius: 0px;
    background-color: $grey;

    .form__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 32px;
    }

    .graph-modal__close {
        @include bg-cover;
        background-image: url(../img/icons/icon_close.svg);
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        right: 16px;
        top: 16px;
    }
}

.wpcf7-not-valid-tip,
div.wpcf7 .ajax-loader,
.wpcf7-response-output {
    display: none !important;
}