.modal-style {
    &__container {
        padding: 76px 72px 60px 72px;
        border-radius: 8px;
        width: 100%;
        max-width: 600px;

        &.modal-search {
            max-width: 766px;
            padding: 52px 72px;

            .form {
                display: flex;
                column-gap: 16px;

                &__label {
                    margin-bottom: 0;
                }

                &__button {
                    height: 48px;
                }
            }
        }

        &.modal-video {
            padding: 40px;
        }
    }

    &__close {
        background-image: url(../img/icons/close.svg);
        @include bg-cover;
        right: 12px;
        top: 12px;
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: $mob) {
    .modal-style {
        &__container {
            padding: 40px 24px 24px 24px;
            max-width: 100%;
            margin-left: 15px;
            margin-right: 16px;

            &.modal-search {
                max-width: 100%;
                padding: 32px 24px;

                .form {
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 18px;
                }
            }

            &.modal-video {
                padding: 32px 24px;
            }
        }

        &__close {
            right: 8px;
            top: 8px;
        }
    }
}

.form {
    &__title {
        color: $dark;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 24px;
    }

    &__subtitle {
        color: $orange;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__label {
        width: 100%;
        display: block;
        @include mb(22px);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid $greyInputActive;
        -webkit-text-fill-color: $darkInput;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }


    &__input {
        color: $darkInput;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $borderLine;
        background-color: $white;
        height: 48px;
        padding: 12px 16px;

        &::placeholder {
            color: $greyInput;
        }

        &:not(:placeholder-shown) {
            border-color: $greyInputActive;
        }

        &.wpcf7-not-valid {
            border-bottom: 1px solid $red;
        }
    }

    &__textarea {
        color: $darkInput;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $borderLine;
        background-color: $white;
        height: 140px;
        resize: none;
        padding: 16px 20px;

        &::placeholder {
            color: $greyInput;
        }

        &:not(:placeholder-shown) {
            border-color: $greyInputActive;
        }

        &.wpcf7-not-valid {
            border-bottom: 1px solid $red;
        }
    }

    &__btn {
        width: 100%;
        margin-top: 42px;
    }

    &__descr {
        color: $dark;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.24px;
        margin-top: 24px;

        a {
            color: $orange;
        }
    }
}

@media screen and (max-width: $mob) {
    .form__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .form__subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .form__label:not(:last-child) {
        margin-bottom: 18px;
    }

    .input-file {
        width: 100%;
    }

    .input-file__button {
        width: 100%;
    }

    .form__textarea,
    .form__input {
        font-size: 14px;
        line-height: 20px;
    }

    .form__btn {
        margin-top: 34px;
    }

    .form__descr {
        margin-top: 16px;
    }
}

.wpcf7-not-valid-tip,
div.wpcf7 .ajax-loader,
.wpcf7-response-output {
    display: none !important;
}

.input-file {
    position: relative;
    display: inline-block;

    &-row {
        display: inline-block;
    }

    input[type=file] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    &-list {
        margin-top: 8px;

        &-item {
            @include mb(4px);
        }

        &-name {
            color: $dark;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.24px;
        }

        &-remove {
            color: red;
            text-decoration: none;
            display: inline-block;
            margin-left: 5px;
            transform: rotate(45deg);
        }
    }

    &__button {
        height: 48px;
        color: $dark;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.3px;
    }
}