.swiper-style {
    position: relative;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0px;
        width: 50px;
        height: 50px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        @include transition(background-image);
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left.svg);
        left: 50px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right.svg);
        right: 50px;

        &:hover {
            background-image: url(../img/arrows/arrow-right-active.svg);
        }
    }

    .swiper-pagination {
        position: absolute;
        @include flexCCenter;
        column-gap: 16px;
        width: 100%;
        bottom: 30px;
    }

    .swiper-pagination-bullet {
        opacity: 1;
        width: 30px;
        height: 2px;
        margin: 0 !important;
        background: rgba(255, 255, 255, 0.20);
        border-radius: 0px;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {

    .swiper-style .swiper-button-next,
    .swiper-style .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width: $mob) {}

.swiper-style2 {
    position: relative;

    .swiper-buttons {
        @include flexCenter;
        column-gap: 24px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        position: static;
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left-active.svg);
        left: 50px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-dark.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right-active.svg);
        right: 50px;

        &:hover {
            background-image: url(../img/arrows/arrow-right-dark.svg);
        }
    }

    .swiper-style__bottom {
        justify-content: space-between;
        position: relative;
        z-index: 0;
    }

    .swiper-pagination {
        position: static;
        @include flexCCenter;
        column-gap: 16px;
        width: 100%;
        margin-top: 30px;
    }

    .swiper-pagination-bullet {
        opacity: 1;
        width: 30px;
        height: 2px;
        margin: 0 !important;
        background: $greenBackgr;
        border-radius: 0px;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange;
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {
    .swiper-style2 .swiper-pagination {
        margin-top: 24px;
    }
}

.swiper-style3 {
    position: relative;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 50px;
        height: 50px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left.svg);
        left: -100px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right.svg);
        right: -100px;

        &:hover {
            background-image: url(../img/arrows/arrow-right-active.svg);
        }
    }

    .swiper-pagination {
        position: absolute;
        @include flexCCenter;
        column-gap: 16px;
        width: 100%;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        opacity: 1;
        width: 30px;
        height: 2px;
        margin: 0 !important;
        background: $greenBackgr;
        border-radius: 0px;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange;
    }
}

@media screen and (max-width: $mob) {
    .swiper-style3 .swiper-pagination {
        bottom: -16px;
    }
}

.swiper-style4 {
    position: relative;

    .images-gallery-swiper {
        margin-bottom: 15px;

        .images-gallery__image {
            width: 100%;
            height: 500px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .swiper-button-prev {
            left: 15px;
        }

        .swiper-button-next {
            right: 15px;
        }
    }

    .images-gallery-swiper-thumbs {
        .images-gallery__image {
            width: 100%;
            height: 100px;
            flex-shrink: 0;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .swiper-button-prev {
            left: 15px;
        }

        .swiper-button-next {
            right: 15px;
        }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0px;
        width: 50px;
        height: 50px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        @include transition(background-image);
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left-light.svg);

        &:hover {
            background-image: url(../img/arrows/arrow-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right-light.svg);

        &:hover {
            background-image: url(../img/arrows/arrow-right-active.svg);
        }
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {
    .swiper-style4 .images-gallery-swiper .images-gallery__image {
        height: 195px;
    }

    .swiper-style4 .swiper-button-next,
    .swiper-style4 .swiper-button-prev {
        display: none;
    }

    .swiper-style4 .images-gallery-swiper {
        margin-bottom: 4px;
    }
}

.swiper-style5 {
    position: relative;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0px;
        width: 50px;
        height: 50px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        @include transition(background-image);
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left-light.svg);
        left: 15px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right-light.svg);
        right: 15px;

        &:hover {
            background-image: url(../img/arrows/arrow-right-active.svg);
        }
    }

    .swiper-pagination {
        position: absolute;
        @include flexCCenter;
        column-gap: 16px;
        width: 100%;
        bottom: -30px;
    }

    .swiper-pagination-bullet {
        opacity: 1;
        width: 30px;
        height: 2px;
        margin: 0 !important;
        background: $greenBackgr;
        border-radius: 0px;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange;
    }
}

@media screen and (max-width: $mob) {
    .swiper-style5 .swiper-pagination {
        margin-top: -16px;
    }
}

.swiper-style6 {
    position: relative;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0px;
        width: 50px;
        height: 50px;
        margin-top: 0;
        flex-shrink: 0;
        @include bg-cover;
        @include transition(background-image);
    }

    .swiper-button-prev {
        background-image: url(../img/arrows/arrow-left.svg);
        left: 15px;

        &:hover {
            background-image: url(../img/arrows/arrow-left-active.svg);
        }
    }

    .swiper-button-next {
        background-image: url(../img/arrows/arrow-right.svg);
        right: 15px;

        &:hover {
            background-image: url(../img/arrows/arrow-right-active.svg);
        }
    }

    .swiper-pagination {
        color: $dark;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.24px;
        top: auto;
        bottom: 16px;
    }
}