.h1 {
    color: $dark;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.h2 {
    color: $dark;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.content-text {
    color: $dark;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    p {
        @include mb(24px);
    }
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {
    .h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .h2 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: $mob) {
    .h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .h2 {
        font-size: 28px;
        line-height: 32px;
    }
}