<div class="company-preview inverse" style="background-image: url(img/backgr/company-backgr.jpg);">
    @include('../../templates/breadcrumbs.html')
    <div class="container">
        <div class="company-preview__content">
            <h1 class="company-preview__title h1">О компании</h1>
            <div class="company-preview__text">
                <p>АМСТЕД — успешная, динамично развивающаяся компания-поставщик промышленного оборудования по всей
                    России
                </p>
            </div>
            <a href="" class="button2 company-preview__link">Смотреть вакансии</a>
        </div>

    </div>
</div>

<section class="company">
    <div class="container">
        <div class="company__content content-text">
            <p>История DAVI основана на обучении и стремлении достичь наилучших навыков в процессе гибки. В настоящее
                время станки DAVI проектируются с использованием самых передовых 3D CAD и всегда тестируются с помощью
                FEM-анализа, чтобы гарантировать прочность. Большое внимание также уделяется дизайну, который постоянно
                совершенствуется и применяется при производстве листовых и угловых валков. Подразделение DAVI Research &
                Development руководствуется девизом «инженерные повседневные задачи» и всегда готово разрабатывать
                индивидуальные решения и удовлетворять потребности клиентов.</p>
            <p>
                Ассортимент продукции Davi может похвастаться широким выбором рулонных рулонов (как в 3-х, так и в 4-х
                рулонных конфигурациях), предназначенных для производства листов шириной от 2 до 6 метров и толщиной
                от 6 до 400 миллиметров. Кроме того, в ассортименте представлены угловые прокатные валки,
                предназначенные для балок высотой до 1200 мм, труб диаметром до 800 мм и фланцев размером
                до 600 × 200 мм по кромке.</p>
        </div>
        <h2 class="brands__title h2">Среди наших заказчиков</h2>
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper brands-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand1.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand3.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand4.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand5.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brands-item">
                            <div class="brands-item__image">
                                <img loading="lazy" src="img/brands/brand2.png" class="image" width="" height="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev brands-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next brands-swiper__swiper-button-next"></div>
            <div class="swiper-pagination brands-swiper__swiper-pagination"></div>
        </div>
        <div class="company__content content-text">
            <p>Для предприятий судостроительной отрасли ООО «ВЗОЦМ» выпускает продукцию, входящую в оборудование,
                успешно
                проходящее гидравлические испытания на герметичность и прочность.</p>
            <p>Для изготовления отливок применяется метод литья по выплавляемым моделям (ЛВМ), что позволяет получить
                изделия со сложной геометрией до 40 кг. Использование точного литья позволяет максимально приблизиться
                к заданным размерам и массе, получить хорошее качество поверхности, соответствующей 7–8 классу точности,
                отличный товарный внешний вид, а также отливки, выдерживающие механические испытания по 2 и 3 группам.
            </p>
            <p>Применяемый метод литья открывает возможность изготавливать сложные конструкции, объединять различные
                детали
                в компактные единые узлы, уменьшая массу и габариты изделий.</p>
        </div>
    </div>
</section>

<div class="choose-us">
    <div class="container">
        <h2 class="choose-us__title h2">Почему выбирают нас</h2>
        <div class="choose-us__items">
            <div class="choose-us__item">
                <div class="choose-us__item-icon">
                    <img loading="lazy" src="img/icons/choose1.svg" class="image" width="" height="" alt="">
                </div>
                <div class="choose-us__item-content">
                    <div class="choose-us__item-name">
                        Высокое качество выпускаемого литья
                    </div>
                    <div class="choose-us__item-text content-text">
                        за счёт применения современного оборудования, материалов и высокого профессионализма сотрудников
                    </div>
                </div>
            </div>
            <div class="choose-us__item">
                <div class="choose-us__item-icon">
                    <img loading="lazy" src="img/icons/choose2.svg" class="image" width="" height="" alt="">
                </div>
                <div class="choose-us__item-content">
                    <div class="choose-us__item-name">
                        Соблюдение договорных сроков поставки литья
                        и готовых изделий
                    </div>
                    <div class="choose-us__item-text content-text">
                        за счёт постоянного контакта с Заказчиками и высокой ответственности работников предприятия
                    </div>
                </div>
            </div>
            <div class="choose-us__item">
                <div class="choose-us__item-icon">
                    <img loading="lazy" src="img/icons/choose3.svg" class="image" width="" height="" alt="">
                </div>
                <div class="choose-us__item-content">
                    <div class="choose-us__item-name">
                        Лучшее соотношение «цена — качество»
                    </div>
                    <div class="choose-us__item-text content-text">
                        за счёт постоянной оптимизации технологических процессов, логистических связей, накладных
                        расходов и т.д.</div>
                </div>
            </div>
            <div class="choose-us__item">
                <div class="choose-us__item-icon">
                    <img loading="lazy" src="img/icons/choose3.svg" class="image" width="" height="" alt="">
                </div>
                <div class="choose-us__item-content">
                    <div class="choose-us__item-name">
                        Поставка с механической обработкой
                    </div>
                    <div class="choose-us__item-text content-text">
                        Возможность поставлять как отливки, так и детали с предварительной или окончательной
                        механической обработкой</div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="block-news">
    <div class="container">
        <div class="block-news__top">
            <h2 class="block-news__title h2">Новости компании</h2>
            <a href="" class="button1 block-news__link">Все новости</a>
        </div>
        <div class="brands-swiper__wrapper swiper-style3">
            <div class="swiper news-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news1.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news3.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области, где на выставках и ярмарках вакансий рассказывали о
                                        компании.
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="news-item">
                            <div class="news-item__image">
                                <img loading="lazy" src="img/news/news2.jpg" class="image" width="" height="" alt="">
                            </div>
                            <div class="news-item__content">
                                <div class="news-item__name">Приняли участие в карьерных мероприятиях</div>
                                <div class="news-item__text content-text">
                                    <p>Представители ООО «АМСТЕД»
                                        приняли участие в карьерных мероприятиях, проходивших в Санкт-Петербурге и
                                        Ленинградской области
                                    </p>
                                </div>
                                <div class="news-item__date">11 июля 2024</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev news-swiper__swiper-button-prev"></div>
            <div class="swiper-button-next news-swiper__swiper-button-next"></div>
            <div class="swiper-pagination news-swiper__swiper-pagination"></div>
        </div>
    </div>
</section>